{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>About Us</h2>
    <p>welcome to madaan's villa</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae illum ipsa rem dolores nisi corporis assumenda explicabo praesentium quis, id laboriosam aut nobis fugit, beatae porro corrupti, iste veritatis at debitis distinctio impedit quos voluptates. Pariatur quis accusamus aliquam dicta reiciendis excepturi distinctio dignissimos exercitationem esse! Consequatur repellat mollitia dolor repellendus architecto, eveniet doloremque, alias recusandae sint accusantium voluptatem, exercitationem impedit perspiciatis quidem pariatur voluptatum eum! Nesciunt adipisci eos maiores, vel, magnam, hic deleniti eaque eligendi ab harum blanditiis fuga error laudantium veniam saepe porro similique. Tempore earum, et temporibus praesentium dolorem, aliquam ex accusamus, doloremque sit minus iure quae?</p>
</div>
{% endblock %}