
{% block content %}
<nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary fixed-top"data-bs-theme="dark">
  <div class="col-4"></div>
    <div class="container-fluid">
      <a class="nav-link" href="{% url 'home' %}"><b>MD</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav custom-center">
          <a class="nav-link " aria-current="page" href="{% url 'article_list' %}">Articles</a>
        {% if user.is_authenticated %}
          <a class="nav-link" href="{% url 'add_article' %}">Post article</a>
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        {% endif %}
        </div>
      </div>
    </div>
  </nav>

{% endblock %}