{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-fixed-top bg-body-tertiary bg-dark border-bottom border-body justify-content-center" data-bs-theme="dark" style="overflow: hidden; position:fixed; top: 0; width: 100%; z-index: 1000;">
    <div class="col-4"></div>
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
           <span class="icon-container"></span>
            <a class="nav-logo" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" class="logo icon" alt="logo" style="height: 68px; margin-top: -10px;"></a>
           </span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'trainer-profile' %}">Trainers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'membership' %}">Membership </a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

{% endblock %}