{% extends "base.html" %}
{% load static %}
{% block title %} 
Membership
{% endblock %}

{% block content %}

<div class="container-fluid" style="padding-top: 90px;">
    <h1 class="h1" style=" display: inline-block; color: white; background-color: #343a40; transform: skewX(-10deg); overflow: hidden;">Membership plans</h1></div>
<table class="table table-dark table-striped tset container tstyle">
   <tr>
       <td>plans</td>
       <td>fees</td>
       <td>time period</td>
   </tr>
   <tr>
       <td>1.</td>
       <td>1500</td>
       <td>1 month</td>
   </tr>
   <tr>
       <td>2.</td>
       <td>4000</td>
       <td>3 month</td>
   </tr>
   <tr>
       <td>3.</td>
       <td>6000</td>
       <td>6 month</td>
   </tr>
   <tr>
       <td>4.</td>
       <td>9000</td>
       <td>one year</td>
   </tr>
</table>

{% endblock %}